

<div class="jumbotron text-center p-2 mt-4">
    <h1 class="display-4"> Create New Blog </h1>
</div>

<div class="container pb-4 pt-3 "> 
<%= render partial: 'form' %>

<%= link_to 'Back', '/articles', class: "btn btn-dark mt-2" %>

</div>